@model IEnumerable<Domain.Entities.Menu>

@{
    ViewData["Title"] = "Menus";
    Layout = "AdminLayout_";
}

<h1>Menus</h1>

@if (TempData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        <text> @TempData["message"] </text>
    </div>
}


<div class="row">
    <div class="d-flex justify-content-between">
        <span>
            <a class="btn btn-light btn-rounded btn-fw" asp-action="CreateMenu">Create New Menu</a>
        </span>
        <span>
            <form asp-action="Menus" asp-controller="Admin" method="get">
                <div class="input-group">
                    <input name="search" class="form-control" type="text" placeholder="Search menu..." />
                    <button class="btn btn-inverse-primary" type="submit">Search</button>
                </div>
            </form>
        </span>
    </div>
</div>
<br />

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="text-center"> Process </th>
        </tr>
    </thead>

    <tbody>

        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td> @i </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) &#x20BA;
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @{
                        if (item.Status == Domain.Enums.Status.Active)
                        {
                            <span class="text-success">@item.Status</span>
                        }
                        else
                        {
                            <span class="text-danger">@item.Status</span>
                        }
                    }
                </td>
                <td>
        
                    <span class="d-flex justify-content-center align-items-center">
                        @Html.ActionLink("Active / Passive", "MenuChangeStatus", new { id = item.Id  }, new { @class = "btn btn-sm btn-outline-info"}) &nbsp;&nbsp;&nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-action="MenuDetails" asp-route-id="@item.Id"> <i class="mdi mdi-information-outline icon-md text-success"></i></a>
                        &nbsp;&nbsp;&nbsp
                        <a asp-action="UpdateMenu" asp-route-id="@item.Id"> <i class="mdi mdi-table-edit icon-md text-warning"></i></a>
                        &nbsp;&nbsp;&nbsp
                        <a asp-action="DeleteMenu" asp-route-id="@item.Id"> <i class="mdi mdi-delete-forever icon-md text-danger"></i></a>
                        <span>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
