@using Domain.Entities
@model SiparisVM

<div id="error"></div>
<div id="container">
    @if (Model == null || (Model.menus.Count == 0 && Model.products.Count == 0))
    {
        <h2>Sepetinizde ürün bulunmamaktadır</h2>
    }
    else if (Model.menus.Count == 0 && Model.products.Count > 0)
    {
        <h2>Sepetinizde product var </h2>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> </th>
                    <th> Ürün Adı</th>
                    <th> Ürün Adedi</th>
                    <th> Ürün Fiyatı</th>
                    <th> Toplam Fiyat</th>
                    <th> Sepetten Çıkar</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model.products)
                {
                    <tr class="product-row">
                        <td></td>
                        <td>@product.Name</td>

                        <td>
                            <button class="btn btn-secondary" onclick="ChangeQuantity(@product.Id, -1)">-</button>
                            <span id="quantity_@product.Id">@product.Quantity</span>
                            <button class="btn btn-secondary" onclick="ChangeQuantity(@product.Id, 1)">+</button>
                        </td>
                        <td class="price">@product.Price</td>
                        <td class="total"><span id="totalAmount"></span></td>
                        <td>
                            <button class="btn btn-danger" onclick="DeleteProduct(@product.Id)">Remove</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <a class="btn btn-outline-success">Sepeti Onayla</a>
    }
    else if (Model.products.Count == 0 && Model.menus.Count > 0)
    {
        <h2>Sepetinizde menü var</h2>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> </th>
                    <th> Ürün Adı</th>
                    <th> Ürün Adedi</th>
                    <th> Ürün Fiyatı</th>
                    <th> Toplam Fiyat</th>
                    <th> Sepetten Çıkar</th>
                </tr>

            </thead>
            <tbody>
                @foreach (Menu menu in Model.menus)
                {
                    <tr>
                        <td></td>
                        <td>@menu.Name</td>
                        <td>
                            <button class="btn btn-secondary" onclick="ChangeQuantityMenu(@menu.Id, -1)">-</button>
                            <span id="quantity_@menu.Id">@menu.Quantity</span>
                            <button class="btn btn-secondary" onclick="ChangeQuantityMenu(@menu.Id, 1)">+</button>
                        </td>
                        <td>@menu.Price</td>
                        <td>@(menu.Price * menu.Quantity)</td>
                        <td>
                            <button class="btn btn-danger" onclick="DeleteMenu(@menu.Id)">Remove</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>Sepetinizde hem menü hem product var</h2>
        <hr />
        <table class="table table-bordered">
            <thead>
            <th> </th>
            <th> Ürün Adı</th>
            <th> Ürün Adedi</th>
            <th> Ürün Fiyatı</th>
            <th> Toplam Fiyat</th>
            <th> Sepetten Çıkar</th>
            </thead>
            <tbody>
                @foreach (Menu menu in Model.menus)
                {
                    <tr>
                        <td></td>
                        <td>@menu.Name</td>
                        <td>
                            <button class="btn btn-secondary" onclick="ChangeQuantityMenu(@menu.Id, -1)">-</button>
                            <span id="quantity_@menu.Id">@menu.Quantity</span>
                            <button class="btn btn-secondary" onclick="ChangeQuantity(@menu.Id, 1)">+</button>
                        </td>
                        <td>@menu.Price</td>
                        <td>@(menu.Price * menu.Quantity)</td>
                        <td>
                            <button class="btn btn-danger" onclick="DeleteMenu(@menu.Id)">Remove</button>
                        </td>
                    </tr>
                }
                @foreach (Product product in Model.products)
                {
                    <tr>
                        <td></td>
                        <td>@product.Name</td>
                        <td>
                            <button class="btn btn-secondary" onclick="ChangeQuantity(@product.Id, -1)">-</button>
                            <span id="quantity_@product.Id">@product.Quantity</span>
                            <button class="btn btn-secondary" onclick="ChangeQuantity(@product.Id, 1)">+</button>
                        </td>
                        <td>@product.Price</td>
                        <td>@(product.Price * product.Quantity)</td>
                        <td>
                            <button class="btn btn-danger" onclick="DeleteProduct(@product.Id)">Remove</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>



